@page "/admin"

<div class="main">
    <div class="middleContent">

        <div class="top_middleContent">
            <h2>@pageTitle</h2>
        </div>

        <div class="content_middleContent">

            <div class="left_content">
                <div class="squares_wrapper">
                    <div class="tile" id="square">
                        <p id="title">INZENDINGEN</p>
                        <p id="result">@SubmissionEntries</p>
                    </div>

                    <div class="tile" id="square">
                        <p id="title">VOLTOOID</p>
                        <p id="result">@CompletedEntries</p>
                    </div>

                    <div class="tile" id="square">
                        <p id="title">VERSCHILLENDE NUMMERS</p>
                        <p id="result">@DifferentSongs</p>
                    </div>

                    <div class="tile" id="square">
                        <p id="title">NON-SPOTIFY</p>
                        <p id="result">@NonSpotifySongs</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
